<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Images</title>
</head>
<body>
{% block content %}
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
     <li>
      <a href="{% url 'clear_all_images' %}">Clear All Images</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
</body>
</html>